<% provide(:title, 'AboutUs') %>
<header id="encabezado">
  <h1>Basic app | <%= yield(:title) %></h1>
</header>
<div>
  <p class="normal">Company information: history, team, organization, mission, values, goals, etc..</p>
</div>
