<% provide(:title, 'Contact') %>
<header id="encabezado">
  <h1>Basic app | <%= yield(:title) %></h1>
</header>
<div>
  <p class="normal">Contact information that can be by email or through a form. It also indicates the direction and company phones.</p>
</div>