<% provide(:title, 'Home') %>
<div>
  <h1>Basic app | <%= yield(:title) %></h1>
  <h1>Welcome</h1>
  <h2>
    This is a basic Ruby on Rails app, that can be used as a basis for building Web applications.
  </h2>
  <h3>
    Its main features are:
  </h2>
  <h3>
    - Managing static pages:
  </h3>
  <li>Home</li>
  <li>Help</li>
  <li>Contact</li>
  <li>About us</li>
  <h3>
    - User registration (Devise)
  </h3>
  <h3>
    - User registration through third: Twitter and Facebook
  </h3>
  <h3>
    - Sending email (mail)
  </h3>
  <h3>
    - Multi-languages
  </h3>
  <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary" %> or
  <%= link_to "Login", new_user_session_path, class: "btn btn-large btn-primary" %>
</div>
