<% provide(:title, 'Task') %>

  <div class="normal">
    <div class="formulario">
      <%= render 'form' %>
    </div></br></br>
  </div>
  
  <div class="normal">
    <p>
      <%= link_to 'Show', @task %> |
      <%= link_to 'Back', tasks_path %>
    </p>
  </div>
  
