<% provide(:title, 'New task') %>
<header id="encabezado">
  <h1>Basic app | <%= yield(:title) %></h1>
</header>

<div class="normal">
  <div class="formulario">
    <%= render 'form' %>
  </div></br></br>
</div>

<div class="normal">
  <%= link_to 'Back', tasks_path %>
</div>