<% provide(:title, 'New task') %>

<div class="normal">
  <div class="formulario">
    <%= render 'form' %>
  </div></br></br>
</div>

<div class="normal">
  <%= link_to t('tasks.back'), tasks_path %>
</div>