<% provide(:title, 'New project') %>

<div class="normal">
  <div class="formulario">
    <%= render 'form' %>
  </div></br></br>
</div>

<div class="normal">
  <%= link_to t('projects.back'), projects_path %>
</div>