<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Bye!</h1>
    <p>Your account in basapp was succesfully canceled.</p>
    <h2>We hope to see you againg soon</h2>
  </body>
</html>