<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1><%= t('.bye')%></h1>
    <p><%= t('.canceled')%></p>
    <h2><%= t('.byebye')%></h2>
  </body>
</html>